<header>
  <h1>Featured and recent work</h1>
</header>

<ul class="list-portfolio">
  {% for item in collections.portfolioHome %}
    {% render "list-portfolio-item.liquid", item: item %}
  {% endfor %}
</ul>
