---
layout: layouts/layout.liquid
---

<main>

  <h1>Portfolio</h1>

  <ul class="list-portfolio">
    {% for item in collections.portfolioHome %}
      {% render "list-portfolio-item.liquid", item: item %}
    {% endfor %}
  </ul>

</main>
