---
layout: layouts/layout.liquid
pagination:
  data: collections
  size: 1
  alias: tag
  filter: [ "all" ]
eleventyComputed:
  title: "{{ tag }} portfolio"
permalink: "/tags/{{ tag | slugify }}/"
---

<h1>{{ tag }} portfolio</h1>
<ul class="list-portfolio">
  {% for item in collections[tag] %}
    {% render "list-portfolio-item.liquid", item: item %}
  {% endfor %}
</ul>

