---
layout: layouts/layout.liquid
pagination:
  data: collections
  size: 1
  alias: tag
  filter: [ "all" ]
eleventyComputed:
  title: "{{ tag }} work"
permalink: "/tags/{{ tag | slugify }}/"
---

<main>

  <header>
    <h1>{{ tag }} work</h1>
  </header>

  <ul class="list-portfolio">
    {% for item in collections[tag] %}
      {% render "list-portfolio-item.liquid", item: item %}
    {% endfor %}
  </ul>

  </main>
