<h1>Tags</h1>

{% assign filteredTags = collections | getKeys | filterTagList | sortAlphabetically -%}
<ul>
  {% for tag in filteredTags %}
    {% capture tagUrl -%}/tags/{{ tag | slugify }}/{% endcapture -%}
    <li>
      <a href="{{ tagUrl }}">{{ tag }}</a>
    </li>
  {% endfor %}
</ul>
