---
layout: layouts/layout.liquid
---

<main>
  {{ content }}
</main>

<aside class="explore">
  <h1>More from Sonny</h1>
  <div class="group-portfolio group-portfolio-featured">
    <h2>Featured</h2>
    <ul class="list-portfolio">
      {% for item in collections.Featured limit:4 %}
        {% render "list-portfolio-item.liquid", item: item %}
      {% endfor %}
    </ul>
  </div>
  <div class="group-portfolio group-portfolio-recent">
    <h2>Recent</h2>
    <ul class="list-portfolio">
      {% for item in collections.Portfolio limit:4 %}
        {% render "list-portfolio-item.liquid", item: item %}
      {% endfor %}
    </ul>
  </div>
</aside>
